.overlay{
 position: relative;
    margin: 0px auto;
    
        height: auto;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        
            background-image: 
                url(//images/ukraine-eurovision-2022-hero.jpeg);
                width: 100%;
                height: 100%;
        }
